In [1]:
import pandas as pd
import numpy as np
features = pd.read_csv("D:/2nd Year - 4th Sem/AML/Data Set For AML/hospital.csv")
features

      NAME   PATIENT ID          DISEASE     FEES
0     VARUN      1456879            COLD       250
1    VISHNU      1457866           COUGH       478
2   VANNILA      1245786           FEVER      1000
3   VANATHI      1457962           COVID     10000
4  VANMATHI      4565785  STOMACH CANCER  15000000
5  VISHNAVI      5412442  HEAD BLEEDING     257000
6    VISHAL      1125534       EAGLE EYE     85000

In [2]:
features.tail(5)

      NAME   PATIENT ID          DISEASE     FEES
2   VANNILA      1245786           FEVER      1000
3   VANATHI      1457962           COVID     10000
4  VANMATHI      4565785  STOMACH CANCER  15000000
5  VISHNAVI      5412442  HEAD BLEEDING     257000
6    VISHAL      1125534       EAGLE EYE     85000

In [3]:
print('The shape of our features is:', features.shape)

The shape of our features is: (7, 4)

In [4]:
features.describe()

        PATIENT ID          FEES
count  7.000000e+00  7.000000e+00
mean   2.388893e+06  2.193390e+06
std    1.797478e+06  5.647959e+06
min    1.125534e+06  2.500000e+02
25%    1.351332e+06  7.390000e+02
50%    1.457866e+06  1.000000e+04
75%    3.011874e+06  1.710000e+05
max    5.412442e+06  1.500000e+07

In [5]:
features = pd.get_dummies(features)
features

,PATIENT ID,FEES,NAME _VANATHI,NAME _VANMATHI,NAME _VANNILA,NAME _VARUN,NAME _VISHAL,NAME _VISHNAVI,NAME _VISHNU,DISEASE_COLD,DISEASE_COUGH,DISEASE_COVID,DISEASE_EAGLE EYE,DISEASE_FEVER,DISEASE_HEAD BLEEDING,DISEASE_STOMACH CANCER
0,1456879,250,0,0,0,1,0,0,0,1,0,0,0,0,0,0
1,1457866,478,0,0,0,0,0,0,1,0,1,0,0,0,0,0
2,1245786,1000,0,0,1,0,0,0,0,0,0,0,0,1,0,0
3,1457962,10000,1,0,0,0,0,0,0,0,0,1,0,0,0,0
4,4565785,15000000,0,1,0,0,0,0,0,0,0,0,0,0,0,1
5,5412442,257000,0,0,0,0,0,1,0,0,0,0,0,0,1,0
6,1125534,85000,0,0,0,0,1,0,0,0,0,0,1,0,0,0

In [6]:
import numpy as np
labels = np.array(features['DISEASE_COLD'])
features= features.drop('DISEASE_COLD', axis = 1)
feature_list = list(features.columns)
features = np.array(features)
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, 
                                                                                                    random_state = 42)

In [7]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (5, 15)
Training Labels Shape: (5,)
Testing Features Shape: (2, 15)
Testing Labels Shape: (2,)

In [8]:
baseline_preds = test_features[:, feature_list.index('DISEASE_COUGH')]
baseline_errors = abs(baseline_preds - test_labels)
print('DISEASE_COUGH baseline error: ', round(np.mean(baseline_errors), 2))

DISEASE_COUGH baseline error:  1.0

In [9]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(train_features, train_labels);
rf

RandomForestRegressor(n_estimators=1000, random_state=42)

In [10]:
predictions = rf.predict(test_features)
predictions

array([0., 0.])

In [11]:
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.5 degrees.

In [12]:
mape = 100 * (errors / test_labels)
accuracy = 100 - np.mean(mape)
accuracy

C:\Users\shiva\AppData\Local\Temp\ipykernel_10136\3111111754.py:1: RuntimeWarning: invalid value encountered in divide
  mape = 100 * (errors / test_labels)

nan

In [ ]:
+